<h2>{{title}}</h2>

<form action={{action}} method="POST">
  <p>
    <label>Name</label>
    <input type=" text" name="name" value="{{artist.name}}" />
  </p>
  <p>
    <label>Genre</label>
    <input type=" text" name="genre" value="{{artist.genre}}" />
  </p>
  <p>
    <label>Nationality</label>
    <input type="text" name="nationality" value="{{artist.nationality}}" />
  </p>
  <p>
    <label>Record Label</label>
    <input type="text" name="recordLabel" value="{{artist.recordLabel}}" />
  </p>
  <p>
    <label>Year</label>
    <input type="text" name="year" value="{{artist.year}}" />
  </p>
  <p>
    <label>Album</label>
    <select name="albums">
      {{#each albums as |album|}}
      <option value={{album._id}}>
        {{album.name}}
      </option>
      {{/each}}
    </select>
  </p>
  <p>
    <input type="submit" value={{button}}>
  </p>
</form>